flows/Gateway_flow
[{"id":"d30f58c.ab8cea8","type":"tab","label":"Gateway","disabled":false,"info":""},{"id":"95b466e7.e59e98","type":"inject","z":"d30f58c.ab8cea8","name":"Fan Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"r,LOW","payloadType":"str","x":300,"y":1280,"wires":[[]]},{"id":"45623f3d.9b70d","type":"serial out","z":"d30f58c.ab8cea8","name":"","serial":"8c2a4b2d.14f948","x":380,"y":460,"wires":[]},{"id":"2027ec55.cb5f14","type":"inject","z":"d30f58c.ab8cea8","name":"White Led Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"b","payloadType":"str","x":310,"y":1240,"wires":[[]]},{"id":"d2bb4155.19512","type":"inject","z":"d30f58c.ab8cea8","name":"White Led on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"a","payloadType":"str","x":310,"y":1200,"wires":[[]]},{"id":"c8e60e54.2c024","type":"inject","z":"d30f58c.ab8cea8","name":"Relay Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"d","payloadType":"str","x":1080,"y":1280,"wires":[[]]},{"id":"4490e83c.0871f8","type":"inject","z":"d30f58c.ab8cea8","name":"Relay on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"c","payloadType":"str","x":1080,"y":1240,"wires":[[]]},{"id":"d4f800d1.2c896","type":"inject","z":"d30f58c.ab8cea8","name":"Other song","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"f","payloadType":"str","x":480,"y":1240,"wires":[[]]},{"id":"2331c464.3fc33c","type":"inject","z":"d30f58c.ab8cea8","name":"Happy Birthday","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"e","payloadType":"str","x":500,"y":1200,"wires":[[]]},{"id":"c8532a7f.6cd718","type":"inject","z":"d30f58c.ab8cea8","name":"Light Sensor","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"h","payloadType":"str","x":870,"y":1200,"wires":[[]]},{"id":"b1ca76b5.a00fd8","type":"inject","z":"d30f58c.ab8cea8","name":"Stop Music","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"g","payloadType":"str","x":860,"y":1240,"wires":[[]]},{"id":"9473ca33.478478","type":"inject","z":"d30f58c.ab8cea8","name":"Soil Moisture sensor","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"j","payloadType":"str","x":890,"y":1280,"wires":[[]]},{"id":"81743523.f5a2b8","type":"inject","z":"d30f58c.ab8cea8","name":"Gas Sensor","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"i","payloadType":"str","x":870,"y":1320,"wires":[[]]},{"id":"71c568ca.137588","type":"inject","z":"d30f58c.ab8cea8","name":"Door Open","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"l","payloadType":"str","x":1080,"y":1200,"wires":[[]]},{"id":"69283533.c8f8fc","type":"inject","z":"d30f58c.ab8cea8","name":"Water sensor","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"k","payloadType":"str","x":490,"y":1320,"wires":[[]]},{"id":"b919ff44.3043a","type":"inject","z":"d30f58c.ab8cea8","name":"Window Open","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"n","payloadType":"str","x":690,"y":1280,"wires":[[]]},{"id":"eae2b275.bb3db","type":"inject","z":"d30f58c.ab8cea8","name":"Door Close","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"m","payloadType":"str","x":680,"y":1200,"wires":[[]]},{"id":"579db009.760c4","type":"inject","z":"d30f58c.ab8cea8","name":"Yellow Led on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"p","payloadType":"str","x":690,"y":1320,"wires":[[]]},{"id":"57021bd5.a38be4","type":"inject","z":"d30f58c.ab8cea8","name":"Windo close","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"o","payloadType":"str","x":690,"y":1240,"wires":[[]]},{"id":"e6e9510.7bdd2b","type":"inject","z":"d30f58c.ab8cea8","name":"fan stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"s","payloadType":"str","x":290,"y":1320,"wires":[[]]},{"id":"39919bf8.5d0fd4","type":"inject","z":"d30f58c.ab8cea8","name":"YelloW led off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"q","payloadType":"str","x":490,"y":1280,"wires":[[]]},{"id":"29cc82d9.e9028e","type":"serial in","z":"d30f58c.ab8cea8","name":"","serial":"8c2a4b2d.14f948","x":370,"y":560,"wires":[["30f2932b.a47654"]]},{"id":"c2f9729a.0c5ed","type":"usbcamera","z":"d30f58c.ab8cea8","filemode":"0","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"3","name":"","x":430,"y":300,"wires":[["9142ede4.fdd448","1cab3449.eccbec","eeb0eceb.5af0c8"]]},{"id":"2290890f.bf647e","type":"inject","z":"d30f58c.ab8cea8","name":"test camera","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":190,"y":260,"wires":[["c2f9729a.0c5ed"]]},{"id":"9142ede4.fdd448","type":"base64","z":"d30f58c.ab8cea8","name":"","action":"str","property":"payload","x":660,"y":360,"wires":[["10082bdd.0510ec"]]},{"id":"10082bdd.0510ec","type":"template","z":"d30f58c.ab8cea8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"480px\" height=\"640px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":900,"y":360,"wires":[["34f1585c.8ec998"]]},{"id":"30f2932b.a47654","type":"switch","z":"d30f58c.ab8cea8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"take picture","vt":"str"},{"t":"cont","v":"Soil","vt":"str"},{"t":"cont","v":"Light","vt":"str"},{"t":"cont","v":"Gas","vt":"str"},{"t":"cont","v":"Water","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":550,"y":560,"wires":[["7a919882.c8df98"],["315fd57.0990a2a"],["917951cd.9dd45"],["9c1288c1.2947b8"],["cf3f4530.9b46a8"]]},{"id":"7a919882.c8df98","type":"delay","z":"d30f58c.ab8cea8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":600,"y":440,"wires":[["c2f9729a.0c5ed"]]},{"id":"917951cd.9dd45","type":"split","z":"d30f58c.ab8cea8","name":"","splt":"7","spltType":"len","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":730,"y":560,"wires":[["83dc3d56.1aeeb"]]},{"id":"cf3f4530.9b46a8","type":"split","z":"d30f58c.ab8cea8","name":"","splt":"7","spltType":"len","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":680,"wires":[["aa1dd53.5228828","7e9c15d7.0e1acc"]]},{"id":"9c1288c1.2947b8","type":"split","z":"d30f58c.ab8cea8","name":"","splt":"5","spltType":"len","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":620,"wires":[["79e9639.0d4899c"]]},{"id":"315fd57.0990a2a","type":"split","z":"d30f58c.ab8cea8","name":"","splt":"6","spltType":"len","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":500,"wires":[["17cb7b11.232435"]]},{"id":"1306d0e5.a9d967","type":"mqtt in","z":"d30f58c.ab8cea8","name":"","topic":"smart/home/message","qos":"2","datatype":"auto","broker":"f4b63cc6.e4a628","x":140,"y":500,"wires":[["30f2932b.a47654","45623f3d.9b70d"]]},{"id":"aa1dd53.5228828","type":"mqtt out","z":"d30f58c.ab8cea8","name":"","topic":"smart/home/message/water","qos":"","retain":"","broker":"f4b63cc6.e4a628","x":960,"y":720,"wires":[]},{"id":"83dc3d56.1aeeb","type":"mqtt out","z":"d30f58c.ab8cea8","name":"","topic":"smart/home/message/light","qos":"","retain":"","broker":"f4b63cc6.e4a628","x":960,"y":560,"wires":[]},{"id":"79e9639.0d4899c","type":"mqtt out","z":"d30f58c.ab8cea8","name":"","topic":"smart/home/message/gas","qos":"","retain":"","broker":"f4b63cc6.e4a628","x":960,"y":620,"wires":[]},{"id":"17cb7b11.232435","type":"mqtt out","z":"d30f58c.ab8cea8","name":"","topic":"smart/home/message/soil","qos":"","retain":"","broker":"f4b63cc6.e4a628","x":950,"y":500,"wires":[]},{"id":"80f8ea8.936cd18","type":"mqtt in","z":"d30f58c.ab8cea8","name":"","topic":"smart/home/message/picture","qos":"2","datatype":"auto","broker":"f4b63cc6.e4a628","x":140,"y":300,"wires":[["c2f9729a.0c5ed"]]},{"id":"34f1585c.8ec998","type":"mqtt out","z":"d30f58c.ab8cea8","name":"","topic":"smart/home/message/picture/taken","qos":"","retain":"","broker":"f4b63cc6.e4a628","x":1190,"y":360,"wires":[]},{"id":"1cab3449.eccbec","type":"image","z":"d30f58c.ab8cea8","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"x":680,"y":120,"wires":[]},{"id":"a1bfb3e4.9b7998","type":"mqtt in","z":"d30f58c.ab8cea8","name":"","topic":"smart/garden/message","qos":"2","datatype":"auto","broker":"f4b63cc6.e4a628","x":140,"y":820,"wires":[["16d5a4a4.cf16ab","5202e676.6c3368"]]},{"id":"5202e676.6c3368","type":"mqtt out","z":"d30f58c.ab8cea8","name":"","topic":"smart/garden/message/soil","qos":"","retain":"","broker":"f4b63cc6.e4a628","x":420,"y":680,"wires":[]},{"id":"eeb0eceb.5af0c8","type":"change","z":"d30f58c.ab8cea8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Somebody at the door!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":300,"wires":[["d96c993.75a2ae8"]]},{"id":"d96c993.75a2ae8","type":"slack","z":"d30f58c.ab8cea8","name":"smarthome","channelURL":"https://hooks.slack.com/services/xxxxxxxxx","username":"Hans","emojiIcon":"","channel":"","x":910,"y":300,"wires":[]},{"id":"bf648602.290108","type":"slack","z":"d30f58c.ab8cea8","name":"smarthome","channelURL":"https://s.slack.com/services/xxxxxxxxxx","username":"Hans","emojiIcon":"","channel":"","x":1250,"y":800,"wires":[]},{"id":"7e9c15d7.0e1acc","type":"change","z":"d30f58c.ab8cea8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"It started raining","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":680,"wires":[["bf648602.290108"]]},{"id":"38641c5e.9d551c","type":"change","z":"d30f58c.ab8cea8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Garden needs water!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":860,"wires":[["967a8ccd.c8744"]]},{"id":"b5296e42.5c1608","type":"change","z":"d30f58c.ab8cea8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Too much water in the garden!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":780,"wires":[["8f3634ec.07505"]]},{"id":"16d5a4a4.cf16ab","type":"switch","z":"d30f58c.ab8cea8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"str"},{"t":"lte","v":"50","vt":"str"},{"t":"btwn","v":"50","vt":"num","v2":"80","v2t":"num"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":820,"wires":[["b5296e42.5c1608"],["8d3bb080.bbe2b8"],["38641c5e.9d551c"]]},{"id":"8d3bb080.bbe2b8","type":"change","z":"d30f58c.ab8cea8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Garden feels perfect!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":820,"wires":[["8f3634ec.07505"]]},{"id":"8f3634ec.07505","type":"delay","z":"d30f58c.ab8cea8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":800,"wires":[["bf648602.290108"]]},{"id":"967a8ccd.c8744","type":"delay","z":"d30f58c.ab8cea8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":860,"wires":[["bf648602.290108"]]},{"id":"8c2a4b2d.14f948","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"f4b63cc6.e4a628","type":"mqtt-broker","name":"ha2","broker":"192.168.192.64","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
