flows/MQTT_flow
[{"id":"fd77f939.f77978","type":"tab","label":"MQTT Flow","disabled":false,"info":""},{"id":"ba8fad3c.19892","type":"rpi-sensehat in","z":"fd77f939.f77978","name":"","motion":false,"env":false,"stick":true,"x":160,"y":580,"wires":[["d2070183.2992e8"]]},{"id":"d2070183.2992e8","type":"rbe","z":"fd77f939.f77978","name":"","func":"rbe","gap":"","start":"","inout":"out","x":330,"y":580,"wires":[["72cd4ffa.637a58"]]},{"id":"72cd4ffa.637a58","type":"switch","z":"fd77f939.f77978","name":"","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"ENTER","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":580,"wires":[["7b1e64f3.598d1c"]]},{"id":"7b1e64f3.598d1c","type":"switch","z":"fd77f939.f77978","name":"DOWN joystick","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":680,"y":580,"wires":[["e919f878.0b6658"]]},{"id":"32948c53.e108f4","type":"change","z":"fd77f939.f77978","name":"camera icon","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,blue,2-4,2,silver,0-6,3,silver,0-1,4,silver,5-6,4,silver,0-1,5,silver,3,5,white,5-6,5,silver,0-1,6,silver,5-6,6,silver,0-6,7,silver","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":240,"wires":[["509e7fcc.a3f18","8b0e1824.ea64c"]]},{"id":"8b0e1824.ea64c","type":"rpi-sensehat out","z":"fd77f939.f77978","name":"","x":1030,"y":240,"wires":[]},{"id":"509e7fcc.a3f18","type":"delay","z":"fd77f939.f77978","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":140,"wires":[["d6681ed1.2f717"]]},{"id":"d6681ed1.2f717","type":"change","z":"fd77f939.f77978","name":"Clear display","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":140,"wires":[["8b0e1824.ea64c"]]},{"id":"8ea8455a.d2e21","type":"mqtt in","z":"fd77f939.f77978","name":"","topic":"smart/home/message","qos":"2","datatype":"auto","broker":"a2ae59c.1e436a8","x":160,"y":180,"wires":[["91ceea0f.08d318"]]},{"id":"7cebfee0.b12b98","type":"mqtt in","z":"fd77f939.f77978","name":"","topic":"smart/home/message/picture","qos":"2","datatype":"auto","broker":"a2ae59c.1e436a8","x":140,"y":240,"wires":[["32948c53.e108f4"]]},{"id":"273e0af5.793ade","type":"rpi-sensehat out","z":"fd77f939.f77978","name":"","x":970,"y":460,"wires":[]},{"id":"ab0604e7.174d68","type":"inject","z":"fd77f939.f77978","name":"CPUTemp","props":[{"p":"payload"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":480,"wires":[["e919f878.0b6658"]]},{"id":"e919f878.0b6658","type":"exec","z":"fd77f939.f77978","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"CPUTemp","x":390,"y":480,"wires":[["d23c7a06.4c697"],[],[]]},{"id":"d23c7a06.4c697","type":"split","z":"fd77f939.f77978","name":"","splt":"11","spltType":"len","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":460,"wires":[["b7cb7fbd.5399d"]]},{"id":"b7cb7fbd.5399d","type":"switch","z":"fd77f939.f77978","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"temp","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":460,"wires":[["273e0af5.793ade"]]},{"id":"91ceea0f.08d318","type":"change","z":"fd77f939.f77978","name":"message icon","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,white,0-6,1,red,0,1-6,red,0-6,6,red,6,1-6,red,1,2,red,2,3,red,3,4,red,4,3,red,5,2,red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":140,"wires":[["8b0e1824.ea64c","509e7fcc.a3f18"]]},{"id":"3eb5f5e1.55342a","type":"mqtt in","z":"fd77f939.f77978","name":"","topic":"smart/garden/message","qos":"2","datatype":"auto","broker":"a2ae59c.1e436a8","x":160,"y":120,"wires":[["91ceea0f.08d318"]]},{"id":"a2ae59c.1e436a8","type":"mqtt-broker","name":"","broker":"192.168.192.64","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
